body {
    background-color: #003851;
}

#pff {
    color: #BFD2D9;
    font: caption;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 50%;

}
#mgcel {
    margin-top:1%;
    margin-left: 25%;
}

.card1 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 50px;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card2 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 50px;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card3 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 50px;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
.card1 :hover {
    transform: scale(1.05);


}

.card2 :hover {
    transform: scale(1.05);
    position: right ;
}

.card3 :hover {
    transform: scale(1.05);
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.answer {
    font-size: 16px;
    color: #333;
    display: none;
    margin-top: 10px;
}

button{
    display: flex;
    margin: auto;
    border-radius: 10px;
    text-align: left;
}

.layout {
    width: 100%;
  
    display: grid;
    grid:
      "header header header" auto
      "celular preguntas espaciolibre" 1fr
      "footer footer footer" auto
      / 150fr 125fr 125fr;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .celular { grid-area: celular;}
  .preguntas {grid-area: preguntas; }
  .espaciolibre {grid-area: espaciolibre;}
  .footer { grid-area: footer; margin-left: 0px;}

  .grid {
    margin-left:410px ;
  
    display: grid;
    grid-template-rows: repeat(3, 0fr);
    grid-template-columns: repeat(2, 300px);
    gap: 8px;
  }
.chat{
    
    position: fixed;
    height: 70px;
    width: 100px;
    bottom: 8%;
    right: 30px;
    background: #003851;
    color: #dee8ec;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px;
    z-index: 100;
    
}

.chat 

.imagen{
    border-radius: 20px;
}