:root{
    --anchocaja: 80px;
    --altocaja: 80px
}

body {
    background-image: url("./imgs/pagina\ web.png");
    font-family: 'poppins', sans-serif;
    position: relative;

}

#pff {
    color: #003851;
    font: caption;
    font-weight: bold;
    font-size: 40px;
    margin-top: 5%;
    margin-left: 50%;

}
#mgcel {
    margin-top:1%;
    margin-left: 25%;
}

.card1 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 60px;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.card2 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    height: var(--altocaja);
    width: var(--anchocaja);
    cursor: pointer;
    transition: transform 0.3s;
    text-align: center;
}

.card3 {
    justify-content: center;
    margin-top:2%;
    margin-left: 5%;
    background-color: #C4C6C6;
    border: 1px solid #003851;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-height: 50px;
    max-width: 170px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
}
.card1 :hover {
    transform: scale(1.05);


}

.card2 :hover {
    transform: scale(1.05);
    position: right ;
}

.card3 :hover {
    transform: scale(1.05);
}

.question {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
   
}

.answer {
    font-size: 16px;
    color: #333;
    display: none;
    margin-top: 10px;
}

button{
    display: flex;
    margin: auto;
    border-radius: 10px;
    text-align: left;
}

.layout {
    width: 100%;
  
    display: grid;
    grid:
      "header header header" auto
      "leftSide . rightSide" 1fr
      "footer footer footer" auto
      / auto 0fr 50%;
    gap: 8px;
  }
  
  .header { grid-area: header; }
  .leftSide { grid-area: leftSide; }
  .rightSide { grid-area: rightSide; }
  .footer { grid-area: footer; 
}
.chat{
    
    position: fixed;
    height: 70px;
    width: 100px;
    bottom: 8%;
    right: 30px;
    background: #003851;
    color: #dee8ec;
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px;
    z-index: 100;
    
}




.imagen{
    border-radius: 20px;
}
.grid {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(2, 47%);
    grid-template-columns: repeat(3, 25%);
    gap: 8px;
    
  }

#botonchat{
    background-color:#c4c6c6 ;
    margin-left: 80%;
    bottom: 8%;
    height: 32px;
    width: 122px;
    font-family: 'poppins', sans-serif;
    text-align: right;
    font-size: 17px;
   
}
.imagenboton{
    
    height: 20px;
    width: 20px;
    margin-right: 10px;
    margin-top: 2px;
}


 